@import "tailwindcss";

@theme {
  --color-obsidian: #0b0c10;
  --color-velvet: #1f2833;
  --color-champagne: #c5a059;
  --color-bronze: #8d6e42;
  --color-barolo: #4a0404;
  --color-mist: #e6e6e6;
  --color-smoke: #a1a1aa;

  --font-display: "Playfair Display", serif;
}
